.Nav{
    display: flex;
    flex-direction: row;
}

.Card{
    display: felx;
    flex-direction: column;
}

.Image-profile{
    border-radius: 50%;
    width: 50px;
    max-width: 100px;
}

.img{
    border-radius: 50% !important;
}